n8n-blueprints/daily-briefing.json
{
    "name": "Asia Trip — Daily Briefing",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 8 * * *"
                        }
                    ]
                }
            },
            "name": "Every Day 8 AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const tripStart = new Date('2026-03-12T00:00:00');\nconst tripEnd = new Date('2026-04-08T00:00:00');\nconst now = new Date();\n\nconst cities = [\n  { name:'Shanghai', start:'2026-03-13', end:'2026-03-16', country:'China', weather_lat:31.23, weather_lon:121.47 },\n  { name:'Taipei', start:'2026-03-16', end:'2026-03-19', country:'Taiwan', weather_lat:25.03, weather_lon:121.57 },\n  { name:'Bangkok', start:'2026-03-19', end:'2026-03-20', country:'Thailand', weather_lat:13.76, weather_lon:100.50 },\n  { name:'Krabi', start:'2026-03-20', end:'2026-03-29', country:'Thailand', weather_lat:8.04, weather_lon:98.84 },\n  { name:'Bangkok2', start:'2026-03-29', end:'2026-03-30', country:'Thailand', weather_lat:13.76, weather_lon:100.50 },\n  { name:'Xi\\'an', start:'2026-03-31', end:'2026-04-02', country:'China', weather_lat:34.34, weather_lon:108.94 },\n  { name:'Beijing', start:'2026-04-02', end:'2026-04-07', country:'China', weather_lat:39.90, weather_lon:116.41 }\n];\n\nconst daysUntilTrip = Math.ceil((tripStart - now) / 86400000);\nconst isOnTrip = now >= tripStart && now <= tripEnd;\n\nlet currentCity = null;\nlet nextCity = null;\nif (isOnTrip) {\n  for (const c of cities) {\n    const s = new Date(c.start), e = new Date(c.end);\n    if (now >= s && now < e) { currentCity = c; break; }\n  }\n  for (const c of cities) {\n    if (new Date(c.start) > now) { nextCity = c; break; }\n  }\n}\n\nreturn [{\n  json: {\n    daysUntilTrip,\n    isOnTrip,\n    currentCity: currentCity?.name || null,\n    currentCountry: currentCity?.country || null,\n    nextCity: nextCity?.name || null,\n    nextCityDate: nextCity?.start || null,\n    weather_lat: currentCity?.weather_lat || cities[0].weather_lat,\n    weather_lon: currentCity?.weather_lon || cities[0].weather_lon,\n    phase: isOnTrip ? 'ON_TRIP' : (daysUntilTrip > 0 ? 'PRE_TRIP' : 'POST_TRIP')\n  }\n}];"
            },
            "name": "Trip Status",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.weather_lat }}&longitude={{ $json.weather_lon }}&daily=temperature_2m_max,temperature_2m_min,precipitation_probability_max,weathercode&timezone=auto&forecast_days=1",
                "responseFormat": "json",
                "options": {}
            },
            "name": "Fetch Weather",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                690,
                200
            ]
        },
        {
            "parameters": {
                "url": "https://api.frankfurter.app/latest?from=EUR&to=CNY,TWD,THB",
                "responseFormat": "json",
                "options": {}
            },
            "name": "Fetch Rates",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                690,
                400
            ]
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {},
                "options": {}
            },
            "name": "Merge",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst tripData = items[0]?.json || {};\nconst weather = items[1]?.json?.daily || {};\nconst rates = items[2]?.json?.rates || {};\n\nconst weatherIcons = {0:'☀️',1:'🌤',2:'⛅',3:'☁️',45:'🌫',48:'🌫',51:'🌦',61:'🌧',63:'🌧',65:'🌧️',71:'❄️',80:'🌦',95:'⛈'};\nconst wCode = weather.weathercode?.[0] || 0;\nconst wIcon = weatherIcons[wCode] || '🌡';\n\nlet message = '';\n\nif (tripData.phase === 'PRE_TRIP') {\n  message = `🌏 *ASIA TRIP — Briefing Diario*\\n\\n`;\n  message += `⏱ *Faltan ${tripData.daysUntilTrip} días* para salir\\n\\n`;\n  message += `💱 *Tasas hoy:*\\n`;\n  message += `🇨🇳 1€ = ¥${rates.CNY?.toFixed(2) || '?'}\\n`;\n  message += `🇹🇼 1€ = NT$${rates.TWD?.toFixed(2) || '?'}\\n`;\n  message += `🇹🇭 1€ = ฿${rates.THB?.toFixed(2) || '?'}\\n`;\n  message += `\\n📋 *Recordatorio:* ¿Has comprado los hoteles de Taipei y Beijing?`;\n} else if (tripData.phase === 'ON_TRIP') {\n  const tempMax = weather.temperature_2m_max?.[0];\n  const tempMin = weather.temperature_2m_min?.[0];\n  const rainProb = weather.precipitation_probability_max?.[0];\n  message = `🌏 *Buenos días desde ${tripData.currentCity}!*\\n\\n`;\n  message += `${wIcon} *Tiempo hoy:* ${tempMin}°–${tempMax}°C`;\n  if (rainProb > 30) message += ` | 🌧 ${rainProb}% lluvia`;\n  message += `\\n\\n`;\n  message += `💱 *Tasa del día:*\\n`;\n  if (tripData.currentCountry === 'China') message += `🇨🇳 1€ = ¥${rates.CNY?.toFixed(2) || '?'}\\n`;\n  if (tripData.currentCountry === 'Taiwan') message += `🇹🇼 1€ = NT$${rates.TWD?.toFixed(2) || '?'}\\n`;\n  if (tripData.currentCountry === 'Thailand') message += `🇹🇭 1€ = ฿${rates.THB?.toFixed(2) || '?'}\\n`;\n  if (tripData.nextCity) {\n    message += `\\n🗺 *Próximo destino:* ${tripData.nextCity} (${tripData.nextCityDate})`;\n  }\n} else {\n  message = `🌏 *Asia Trip 2026* — ¡Viaje completado! 🎉`;\n}\n\nreturn [{ json: { message } }];"
            },
            "name": "Build Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "676387586",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1350,
                300
            ]
        }
    ],
    "connections": {
        "Every Day 8 AM": {
            "main": [
                [
                    {
                        "node": "Trip Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trip Status": {
            "main": [
                [
                    {
                        "node": "Fetch Weather",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Rates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Weather": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Rates": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Build Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Message": {
            "main": [
                [
                    {
                        "node": "Send Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "description": "Daily briefing at 8AM — before the trip: countdown + rates + reminders. During the trip: weather + local exchange rate + next destination.",
        "apis_used": [
            "Frankfurter (tasas cambio) — gratuito, sin API key",
            "Open-Meteo (meteorología) — gratuito, sin API key"
        ],
        "setup": [
            "1. Create a Telegram bot via @BotFather",
            "2. Replace 676387586 with your chat ID (use @userinfobot to find it)",
            "3. Connect Telegram credentials in n8n",
            "4. Activate the workflow",
            "5. The workflow adapts automatically: pre-trip countdown → on-trip daily briefing → post-trip celebration"
        ]
    }
}